body {
    font-size: 13px;
}


#br-int, #br-ext  {
    border: 1px solid;
    height: 150px;
}

#routers, #networks {
       height: 150px;
       border: 1px dashed;
       padding: 1em;
       margin: 1em 0;
}

.router, .network {
    height: 75%;
    border: 1px solid;
    width: 250px;
    position:relative;
}

.network .link {
    position: absolute;
    bottom: 0;
    border-top: 1px solid;
    border-right: 1px solid;
    display: inline;
}
